<div class="about-me">
  <div class="container">
    <div class="about-me__title">
      <span>About</span>
    </div>
    <div class="about-me__description-img">
      <div class="about-me__description-img__description">
        Hello! I'm Lucas, a Frontend Developer with over <span class="custom-text-color">3 years of experience working with Angular.</span> I've had the privilege of participating as a developer in various e-commerce projects for several countries in Latin America.
        <br>
        In addition to writing code, I've taken on additional roles within development teams. I've been actively involved in <span class="custom-text-color">code reviews, planning meetings, and onboarding new team members,</span> providing them with technical guidance on language and project organization.
        <br>
        I have solid experience working with agile methodologies such as <span class="custom-text-color">Scrum and Kanban.</span> I also possess knowledge and some experience in <span class="custom-text-color">graphic design and UX/UI.</span>
        <br>
        Furthermore, I have skills in <span class="custom-text-color">Node.js and MongoDB</span>, which I've applied in personal projects.
      </div>
      <div class="about-me__description-img__img">
        <img src="assets/img/img-about.png" alt="">
      </div>
    </div>
  </div>
</div>

<div class="skills__title">
  <span>Skills</span>
</div>

<div class="skills">
  <div class="skills__container container">

    <div class="skills__cards">
      <div class="skills__cards__card">
        <div class="skills__cards__card__img">
          <img src="./assets/img/angular-logo.png" alt="">
        </div>
        <div class="skills__cards__card__title">
          <span>Angular</span>
        </div>
      </div>
    </div>

    <div class="skills__cards">
      <div class="skills__cards__card">
        <div class="skills__cards__card__img">
          <img src="../assets/img/Typescript_logo.png" alt="">
        </div>
        <div class="skills__cards__card__title">
          <span>Typescript</span>
        </div>
      </div>
    </div>

    <div class="skills__cards">
      <div class="skills__cards__card">
        <div class="skills__cards__card__img">
          <img src="../../assets/img/javascript-logo.png" alt="">
        </div>
        <div class="skills__cards__card__title">
          <span>Javascript</span>
        </div>
      </div>
    </div>

    <div class="skills__cards">
      <div class="skills__cards__card">
        <div class="skills__cards__card__img">
          <img src="../../assets/img/css-logo.png" alt="">
        </div>
        <div class="skills__cards__card__title">
          <span>Css</span>
        </div>
      </div>
    </div>

    <div class="skills__cards">
      <div class="skills__cards__card">
        <div class="skills__cards__card__img">
          <img src="../../assets/img/sass-logo.png" alt="">
        </div>
        <div class="skills__cards__card__title">
          <span>Sass</span>
        </div>
      </div>
    </div>

    <div class="skills__cards">
      <div class="skills__cards__card">
        <div class="skills__cards__card__img">
          <img src="../../assets/img/html-logo.png" alt="">
        </div>
        <div class="skills__cards__card__title">
          <span>Html</span>
        </div>
      </div>
    </div>

    <div class="skills__cards">
      <div class="skills__cards__card">
        <div class="skills__cards__card__img">
          <img src="../../assets/img/node-logo.png" alt="">
        </div>
        <div class="skills__cards__card__title">
          <span>NodeJs</span>
        </div>
      </div>
    </div>

    <div class="skills__cards">
      <div class="skills__cards__card">
        <div class="skills__cards__card__img">
          <img src="../../assets/img/mongo-logo.png" alt="">
        </div>
        <div class="skills__cards__card__title">
          <span>Mongo</span>
        </div>
      </div>
    </div>


  </div>
  
</div>

