<div class="custom-footer">
    <p class="custom-footer__title custom-text-color">
        Contact
    </p>

    <div class="custom-footer__contacts container">
        <div class="custom-footer__contacts__line">
            <div class="custom-footer__contacts__line__text">
                <a><span class="custom-text-color">E-Mail:</span> lucasfalaschini&#64;gmail.com</a>
            </div>
        </div>

        <div class="custom-footer__contacts__line">
            <div class="custom-footer__contacts__line__text">
                <a><span class="custom-text-color">Cellphone:</span> +54 9 223 5216323</a>
            </div>
        </div>

        <div class="custom-footer__contacts__line">
            <div class="custom-footer__contacts__line__text">
                <a href="https://www.linkedin.com/in/lucas-falaschini-918723177/"><span class="custom-text-color">LinkedIn:</span> Lucas Falaschini</a>
            </div>
        </div>

    </div>
    <div class="triangle-container">
        <div class="triangle"></div>
    </div>
</div>