* {
    margin: 0;
    padding: 0;
}

.border-bottom {
    border-bottom: unset !important;
}

.custom-text-color {
    color: #8443DF;
}

p, a {
    margin: 0;
    padding: 0;
}

.swiper-wrapper {
    max-width: 200px !important;
}


.custom-banner-carousel {
  .swiper-container {
    max-width: 100%;

    .swiper-wrapper {
      align-items: center;
    }

    .swiper-pagination {
      display: flex;
      justify-content: center;
      align-items: center;

/*       @include mobile {
        justify-content: flex-end;
        padding-right: 1rem;
      } */

      &-bullet {
        width: 16px;
        height: 16px;
        border: 2px solid #c4c4c4;
        background-color: #eeeeee;
        margin: 0 5px;

/*         @include mobile {
          width: 8px;
          height: 8px;

          margin: 0;
          margin-right: 8px;
        } */
        &-active {
          border: 2px solid #666666;
          background-color: #666666;
        }
      }
    }
  }
}
