<div class="banner">
  <div class="circular-frame">
    <img src="../assets/img/lf.webp" alt="Front Image">
  </div>
  
  <div class="banner__saludo">
    <div class="banner__saludo__hello">
      Hello there! I'm
    </div>
    <div class="banner__saludo__name">
      <p><span class="custom-text-color">Lucas</span> Falaschini</p>
    </div>
    <div class="banner__saludo__description">
      <p> I'm a passionate <span class="custom-text-color">Front-end Angular Developer</span>. Let me tell you a bit about myself and what I've been able to achieve.</p>
    </div>
    <div class="banner__saludo__auto-typing-container">
        <p>Who am I? {{ currentText }}</p>
    </div>
  </div>
</div>

  